{% extends "src/container.html" %}
{% set active_page = 3 %}
{% block content %}
    <section class="post">
        <header class="major">
            <h1>Galerie</h1>

        </header>
        <h2 style="text-align:  center">
            Kolekce LONDA Color Tune Berlín 2023
        </h2>
        <p>
            Jako členka Mezinárodního artistického týmu LONDA Professional a ambasadorka značky jsem se podílela na
            vytváření nové kolekce a trendů ve spolupráci s uměleckým řiditelem Bertem Kietzerowem.

        </p>

        <!-- Image -->
        <div class="row gtr-50 gtr-uniform" data-nanogallery2-lightbox id="nanogallery2">
            {% for image in images %}
                <div class="col-4"><span class="image fit"><img src="{{ image }}" data-ngsrc="{{ image }}" data-nanogallery2-lightbox = '{ "viewerGallery ": "none" }'  alt=""></img></span></div>
            {% endfor %}
        </div>

    </section>

{% endblock %}