{% extends "src/container.html" %}
{% set active_page = 3 %}
{% block content %}
    <section class="post">
        <header class="major">
            <h1>Galerie</h1>
        </header>

        <!-- Image -->
        <div class="row gtr-50 gtr-uniform" data-nanogallery2-lightbox id="nanogallery2">
            {% for image in images %}
                <div class="col-4"><span class="image fit"><img src="{{ image }}" data-ngsrc="{{ image }}" data-nanogallery2-lightbox = '{ "viewerGallery ": "none" }'  alt=""></img></span></div>
            {% endfor %}
        </div>
    </section>

{% endblock %}