{% extends "src/container.html"%}
{% set active_page = 0 %}
{% block content %}
<!-- Featured Post -->
<article class="post featured">
	<header class="major">
		<h2><a href="#">Hair & art salon</a></h2>
		<p>Renesance ideálu krásy založeném na uznání individuality,<br />
			která z každého z nás dělá to co chce.</p>
	</header>
	<a href="#" class="image main" style="width:50%"><img src="images/pic01.jpg" alt="" /></a>
	<p>Máří Magdalena je kadeřnický salon v Dobřanech, který v roce 2011 otevřela Marie Baštařová. Salon
		pojala jako ateliér pro sebevyjádření, uspokojení a radost nejen svoji, ale i svých zákaznic.
		Středobodem je nádherné zrcadlo odrážející krásu a autenticitu každé ženy. </p>
	<p>V kadeřnickém salonu Máří Magdalena najdete špičkové kadeřnické služby – stříhání vlasů, barvení
		vlasů, styling nebo proměny spojené s líčením a focením. Zapózovat můžete třeba u klavíru, který je
		součástí salonu. Při procedurách si můžete vypít kávu a zapovídat se s tvůrčími ženami, které si do
		ateliéru nacházejí cestu. </p>
	<!-- <ul class="actions special">
						<li><a href="#" class="button large">Full Story</a></li>
					</ul> -->
</article>

<!-- Odkaz na další příspěvky pomocí podstránek
				<footer>
					<div class="pagination">
						###<a href="#" class="previous">Prev</a>
						<a href="#" class="page active">1</a>
						<a href="#" class="page">2</a>
						<a href="#" class="page">3</a>
						<span class="extra">&hellip;</span>
						<a href="#" class="page">8</a>
						<a href="#" class="page">9</a>
						<a href="#" class="page">10</a>
						<a href="#" class="next">Next</a>
					</div>
				</footer> -->
{% endblock %}