{% extends "src/container.html"%}
{% set active_page = 4 %}
{% block content %}

<section class="posts">
    <article>
        <a href="http://jirkakrejcik.cz" class="image fit"><img src="images/loga/jirkaf.jpg" alt="" /></a>
        <ul class="actions special">
            <li><a href="http://jirkakrejcik.cz" class="image fit" style="width: 50%;"><img src="images/loga/jirka.png" alt="" /></a></li>
        </ul>
    </article>
    <article>
        <a href="https://www.instagram.com/lydie_bernklauova/" class="image fit"><img src="images/loga/lidaf.png" alt="" /></a>
        <ul class="actions special">
            <li><a href="https://www.instagram.com/lydie_bernklauova/" style="width: 50%;" class="image fit"><img src="images/loga/lida.png" alt="" /></a></li>
        </ul>
    </article>
    <article>
        <a href="https://www.irynabidasova.com" class="image fit"><img src="images/loga/irinaf.jpg" alt="" /></a>
        <ul class="actions special">
            <li><a href="https://www.irynabidasova.com" class="image fit" style="width: 50%;"><img src="images/loga/irina.png" alt="" /></a></li>
        </ul>
    </article>
    <article>
        <a href="http://michaelanausova.com" class="image fit"><img src="images/loga/nausovaf.png" alt="" /></a>
        <ul class="actions special">
            <li><a href="http://michaelanausova.com" class="image fit" style="width: 50%;"><img src="images/loga/michaela.png" alt="" /></a></li>
        </ul>
    </article>
    <article>
    <header>
        <span class="date">Autorka loga</span>
        <img src="images/logo_b.png" alt="" style="width: 50%;"/>
    </header>
    <a href="https://domazlicky.denik.cz/lide-odvedle/slavka-strbova-lasku-k-malovani-mi-sudicky-i-s-pastelkami-vlozily-do-kolebky-20200118.html?cast=1&fbclid=IwAR1AMZ0cPBpUEtDNDjbeDuQ9t49JWDgG0ydbaE5l8YnMW9-PRfXR93BQoyE" class="image fit"><img src="images/loga/slavka.jpg" alt="" /></a>
    <ul class="actions special">
        <li>
            <a class="button" href="https://domazlicky.denik.cz/lide-odvedle/slavka-strbova-lasku-k-malovani-mi-sudicky-i-s-pastelkami-vlozily-do-kolebky-20200118.html?cast=1&fbclid=IwAR1AMZ0cPBpUEtDNDjbeDuQ9t49JWDgG0ydbaE5l8YnMW9-PRfXR93BQoyE" class="image fit" style="width: 50%;">
                Slávka Štrbová</a></li>
    </ul>
    </article>
</section>

{% endblock content %}